body {
  background-color: #fffffff1;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  text-align: center;
  padding: 30px;
}

.title {
  font-size: 2rem;
  color: #370322;
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.form-container {
  background: linear-gradient(180deg, #a0728a, #ca3e7b);
  color: rgb(207, 187, 207);
  padding: 25px;
  border-radius: 15px;
  width: 280px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
}

.form-container button {
  background: #701c5b;
  color: rgb(217, 239, 228);
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.list-container {
  width: 800px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: hsl(308, 29%, 85%);
  padding: 15px;
  border-radius: 15px;
  width: 240px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
  color: #4a148c;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-btn {
  background: #ffb300;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #e53935;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
